node_modules
dist
typings

*.tmp

.*
!.github
!.gitignore
!.npmignore
!.babelrc
!.eslintrc.js
!.eslintrc
!.npmrc
!.nvmrc
!.travis.yml
!.size-limit.js
!.storybook
!.prettierrc.yml
!.babelrc.js

yarn.lock
package-lock.json
npm-shrinkwrap.json
coverage
storybook-static
