node_modules
dist
typings

*.tmp

.*
!.github
!.gitignore
!.npmignore
!.babelrc
!.eslintrc.js
!.eslintrc
!.npmrc
!.nvmrc
!.travis.yml
!.size-limit.js
!.prettierrc.yml
!.babelrc.js

tsconfig.tsbuildinfo
yarn.lock
npm-shrinkwrap.json
coverage
